<!doctype html>

<html>
<head>
	<title>Rivr</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="icon" type="image/png" href="img/rivr-icon.png">
      <link rel="stylesheet" type="text/css" href="css/bootstrap1.css">
      <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"> -->
      <link rel="stylesheet" type="text/css" href="css/common.css">
      <link rel="stylesheet" type="text/css" href="css/chat.css">
         <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300italic,700' rel='stylesheet' type='text/css'>


</head>


<body ng-app="spotifyApp" ng-controller="SongListCtrl" ng-cloak>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> <img id="logo"  src="img/rivr-logo.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" ng-focus="searchSongs()"  ng-blur="blackout=false" ng-change="searchSongs()" ng-model="query" placeholder="Search for a Song..."> 
        </div>

      <ul class="nav navbar-nav navbar-right">
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div ng-show="added==1" class="alert-style alert alert-success alert-dismissible" role="alert">
        <button ng-click="added=false" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Success!</strong> You have added a song to the stream.
    </div>
    <div ng-show="skip==true" class="alert-style alert alert-danger alert-dismissible" role="alert">
        <button ng-click="skip=false" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Don't like this song?</strong> If 5 people vote to skip, the stream will go to the next song.
    </div>
      <audio id ="audioPlayer" autoplay>
          <source src="http://10.16.189.76:8000/stream" autoplay type="audio/ogg">
                  Your browser does not support the audio element.
      </audio>
    </div> <!-- End AudioPlayer and alerts -->

    <div id="fullWidthPlayer">
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div id="currentSongInfo" class="col-md-5">
            <span id="bigSongName">((songName))</span><br/>
            <span id="bigArtistName">((songArtist))</span>
            <br/><strong>Album:</strong> ((songAlbum))
            <br/><br/>
            <button ng-click="skipSong()" type="button" ng-disabled="skipFlag==true" class="btn btn-default">Skip Song</button>
            <br/>((skipCounter - 1)) Votes to Skip
          </div>
          <div id="song_visual">
            <img id="albumCover" ng-src="/artwork" alt="No Art" />
          </div> 
        </div>
      </div>
    </div>

    <div class="container">
       <div id="row1" class="row">
            <div class="left col-md-7"> 
                <!--chat-->
                <div id="chat">
                    <ul class="pages">
                        <li class="chat page">
                            <div class="chatArea">
                                <ul class="messages"></ul>
                            </div>
                            <input class="inputMessage" placeholder="Type here..."/>
                        </li>
                        <li class="login page">
                            <div class="form">
                                <h3 class="title">What's your name?</h3>
                                <input class="usernameInput" type="text" maxlength="14" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!--end left column-->


              <div class="right col-md-5" >
                <div id="main_playlist_wrapper" class="playlist_wrapper well well-lg">
                    <div id="playlist_tabs">
                        <div id="nowPlaying" >
                          <h3>Upcoming Songs</h3> 
                            <div id="song_bottom_bar">
                                <a id="pauseButton" ng-click="playSong()">
                                    <span class="glyphicon glyphicon-pause"></span>
                                </a>
                            </div>
                        <div id="playlist_wrapper">
                            <ul id="main_playlist" class="songlist">
                                <li ng-repeat="song in upcomingSongs">
                                     <span class="song_name">((song.name))</span>
                                     <span class="artist_name">((song.artist))</span>
                                </li>
                            </ul>
                        </div>
    
                        </div>
                    </div> <!--tab-content-->
                </div> <!--playlist wrapper-->
            </div> <!--end right column-->
        </div> <!--end row 1-->
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div> <!--end container-->

        <div class="blackmodal" ng-animate=" 'animate' " ng-show="blackout==true">
            <ul class="songs">
              <li class="list-format" ng-click="selectSong(song.href)" ng-repeat="song in songs | filter:query">
                <a class="list-links" ><span class = "song-text">((song.name))</span> <span class = "artist-text"> ((song.artists[0].name))</span></a>
              </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src='js/sketch.min.js'></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
     <script src="http://code.angularjs.org/1.2.2/angular-animate.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/controllers.js"></script>

</body>
</html>
